html body {
    background-color:beige;
}

* {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

table {
    width: 100% !important;
    height: 160px !important;
    text-align: center;
}

#social {
    margin-top: 20px;
}

.social_icon {
margin-bottom: 10px;
}

.col-md-3 ul li{
    font-size: 18px !important;
}

h1, h2, h3 {
    color: red !important;
}